body {
  background-color: #1c0e53;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-section {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}
.card-wrapper {
  max-width: 20%;
  border: 1px solid #072b6c; 
  border-radius: 10px;
  background: #072b6c;
}
h6{color: #fff;margin: 12px; font-size: 17px;};
span.cardContent {
  color: #fff;
}
.card-content{padding: 15px;margin-bottom: 10px;}
.card-image{padding-top: 20px;}
.components-logo, .state-logo, .events-logo{height: 65px}